@import "../variables";

body {
	background: #ffffff;
	overflow-x: hidden;
}



/* page_wrap */
.page_wrap {
	width: 100%;
	overflow: hidden;
	z-index: 0;

	/* common_fullrow */
	.common_fullrow {
		.custom_container {
			padding: 30px 15px;
			display: flex;
			justify-content: space-between;

			@media (max-width:767px) {
				flex-direction: column !important;
				gap: 20px;
				padding: 20px 15px;
			}

			> {
				div {
					width: 48%;

					&.full {
						width: 100%;
					}

					@media (max-width:767px) {
						width: 100%;
					}
				}
			}

			&.reverse {
				flex-direction: row-reverse;
			}
		}
	}

	/* common_textbox */
	.common_textbox {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-bottom: 15px;

		p {
			font-size: 14px;
			line-height: 23px;
			color: $blacklight;
			font-family: $Outfit;
			font-weight: 300;
			letter-spacing: 0.28px;
			text-align: justify;
			margin-bottom: 20px;

			strong {
				font-weight: 700;
			}
		}

		h4 {
			font-size: 16px;
			line-height: 23px;
			letter-spacing: 0.32px;
			color: $black;
		}

		ul {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 10px 0 20px;

			@media (max-width:767px) {
				gap: 10px;
				padding: 10px 0 15px;
			}

			li {
				background-size: 16px 16px;
				font-size: 14px;
				line-height: 23px;
				letter-spacing: 0.28px;
				font-family: $Outfit;
				font-weight: 500;
				color: $blacklight;
				padding-left: 25px;
				position: relative;

				@media (max-width:991px) {
					font-size: 14px;
					line-height: 22px;
				}

				strong {
					font-weight: 600;
				}

				p {
					font-size: 14px;
					line-height: 23px;
					letter-spacing: 0.28px;
					font-family: $Outfit;
					font-weight: 500;
					color: $blacklight;
					text-align: left;
					margin: 0;
				}
			}

			&.with_bullet {
				li {
					&:before {
						content: '';
						background: url("../../images/common-images/icon_bullet_points.svg")no-repeat left top;
						background-size: 100% 100%;
						width: 12px;
						height: 10px;
						position: absolute;
						left: 0;
						top: 7px;
					}
				}
			}

			&.with_icon {
				li {
					display: flex;
					gap: 10px;
					padding-left: 0;

					&:before {
						display: none;
					}

					.icon {
						width: 15px;
						min-width: 15px;
						line-height: initial;

						img,
						svg {
							height: auto;
							line-height: initial;
						}
					}
				}
			}
		}
	}

	/* btnrow */
	.btnrow {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 15px 20px;
		padding-top: 15px;

		@media (max-width:991px) {
			gap: 15px;
		}

		&.center {
			justify-content: center;
		}
	}

	.top_textbox {
		p {
			font-size: 14px;
			line-height: 23px;
			font-weight: 300;
			color: $blacklight;
			text-align: left;
		}
	}

	/* owl-carousel */
	.owl-carousel {

		.owl-stage,
		.owl-item {
			display: flex;
		}

		.owl-nav {
			> {
				div {
					width: 24px;
					height: 24px;
					border-radius: 50px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					border-radius: 50px;

					&.disabled {
						display: none;
					}

					&.owl-prev {
						background: url("../../images/common-images/icon_carousel_prev2.svg")no-repeat center center;
						background-size: 100% 100%;
						left: 0px;

						@media (max-width:1329px) {
							left: 0;
						}
					}

					&.owl-next {
						background: url("../../images/common-images/icon_carousel_next2.svg")no-repeat center center;
						background-size: 100% 100%;
						right: 0px;

						@media (max-width:1329px) {
							right: 0;
						}
					}

					&:hover {
						opacity: .8;
					}
				}
			}
		}

		.owl-dots {
			width: 100%;
			display: flex;
			justify-content: center;
			gap: 7px;
			position: absolute;
			left: 0;
			bottom: 10px;

			.owl-dot {
				background-color: $white;
				width: 15px;
				height: 15px;
				border-radius: 25px;
				box-shadow: rgba(0, 0, 0, .5)0px 0px 5px;

				&.active {
					background-color: $secondary;
				}
			}
		}
	}

	/* common css End */

	/* top_banner */
	.top_banner {
		width: 100%;
		background-image: url("../../images/success-stories/bg_top_banner.png");
		width: 100%;
		min-height: 578px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
		display: block;
		padding: 0;
		text-align: center;
		display: flex;
		overflow: hidden;
		position: relative;

		@media (max-width:767px) {
			min-height: auto;
			padding: 35px 0 0;
		}

		.custom_container {
			display: flex;
			justify-content: space-between;

			@media (max-width:767px) {
				flex-direction: column;
				gap: 20px;
			}
		}

		.textbox {
			width: 40%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			position: relative;
			padding: 40px 0;

			@media (max-width:991px) {}

			@media (max-width:767px) {
				width: 100%;
				align-items: center;
				padding: 0;
			}

			.c_heading {
				margin-bottom: 20px;

				@media (max-width:991px) {
					margin-bottom: 15px;
				}

				@media (max-width:767px) {
					text-align: center;
				}
			}

			.sub_heading {
				font-weight: 500;
				margin-bottom: 20px;

				@media (max-width:991px) {
					margin-bottom: 15px;
				}

				@media (max-width:767px) {
					text-align: center;
				}
			}

			p {
				font-size: 14px;
				line-height: 26px;
				letter-spacing: 0.28px;
				color: $white;
				font-weight: 300;
				text-align: left;
				margin-bottom: 20px;

				@media (max-width:991px) {
					font-size: 12px;
					line-height: 20px;
					margin-bottom: 15px;
				}

				@media (max-width:767px) {
					text-align: center;
				}
			}

			.btnrow {
				@media (max-width:767px) {
					justify-content: center;
				}

				.cta_btn {
					&.bgpink {
						&:hover {
							background-color: $primary;
							border-color: $primary;
						}
					}
				}
			}

			.common_patch {
				left: 0;
				bottom: 50px;

				@media (max-width:1199px) {
					bottom: 20px;
				}
			}
		}

		.imgbox {
			width: 55%;
			display: flex;
			align-items: flex-end;

			@media (max-width:767px) {
				width: 100%;
				justify-content: center;
				padding-left: 0;
			}

			img {
				width: auto;
				max-height: 600px;

				@media (max-width:767px) {
					width: 100%;
					max-width: 300px;
				}
			}
		}
	}

	/* details_wrap */
	.details_wrap {
		background: url("../../images/common_circle_right.png")no-repeat right top 270px;
		background-size: 366px auto;
		padding: 50px 0 60px;

		@media (max-width:991px) {
			background-size: 300px auto;
			padding: 30px 0 40px;
		}

		@media (max-width:767px) {
			background-size: 200px auto;
			padding: 20px 0 30px;
		}

		.stories_type {
			position: relative;
			margin-bottom: 40px;

			@media (max-width:767px) {
				margin-bottom: 25px;
			}

			.owl-item {
				padding: 10px;

				@media (max-width:991px) {
					padding: 7px;
				}

				.item {
					background-color: $white;
					width: 100%;
					min-height: 118px;
					padding: 15px 25px 15px 30px;
					display: flex;
					align-items: center;
					gap: 20px;
					box-shadow: 0px 0px 16px #1C34950F;
					border-radius: 15px;
					cursor: pointer;
					border: 1px solid transparent;

					@media (max-width:991px) {
						gap: 10px;
						padding: 15px 25px 15px 15px;
					}

					.icon {
						width: 65px;
						min-width: 65px;
						position: relative;

						@media (max-width:991px) {
							width: 60px;
							min-width: 60px;
						}

						img {
							position: relative;
						}
					}

					h3 {
						max-width: 150px;
						font-size: 18px;
						line-height: 24px;
						font-weight: 600;
						color: $primary;
						margin: 0;
						position: relative;

						@media (max-width:991px) {
							font-size: 16px;
							line-height: 22px;
						}
					}

					&:hover {
						h3 {
							color: $secondary;
						}

						&:after {
							content: '';
							background: url("../../images/book-session/icon_arrow_green.svg")no-repeat left center;
							width: 20px;
							height: 9px;
							position: absolute;
							right: 15px;
							top: 50%;
							transform: translateY(-50%);
						}
					}

					&.active {
						background-color: #FFF9EA;
						border-color: $primary;

						h3 {
							color: $secondary;
						}

						&:after {
							content: '';
							background: url("../../images/common-images/icon_check_greenbg.svg")no-repeat center center;
							width: 18px;
							height: 18px;
							position: absolute;
							right: 20px;
							top: 50%;
							transform: translateY(-50%);
						}
					}
				}
			}

			.owl-nav {
				> {
					div {
						z-index: 2;
					}
				}

				.owl-prev {
					left: -40px;

					@media (max-width:1340px) {
						left: -5px;
					}
				}

				.owl-next {
					right: -40px;

					@media (max-width:1340px) {
						right: -5px;
					}
				}
			}

			.owl-dots {
				display: none;
			}
		}

		.stories_wrap {
			width: 100%;
			padding: 0 50px;
			display: flex;
			flex-wrap: wrap;
			gap: 30px;

			@media (max-width:1199px) {
				padding: 0;
			}

			@media (max-width:767px) {
				gap: 20px;
			}

			.stories_box {
				background: url("../../images/success-stories/icon_comma.svg")no-repeat right 25px top 22px $white;
				background-size: 98px auto;
				width: calc(33.3% - 20px);
				box-shadow: 0px 0px 16px #1C34950F;
				border-radius: 15px;
				margin-bottom: 22px;
				padding: 25px 25px 50px;
				position: relative;
				border: 1px solid transparent;

				@media (max-width:991px) {
					width: calc(50% - 20px);
				}

				@media (max-width:767px) {
					width: 100%;
				}

				.info_row {
					width: 100%;
					display: flex;
					gap: 15px;
					padding-bottom: 15px;

					.imgbox {
						width: 65px;
						min-width: 65px;
					}

					.textbox {
						width: 100%;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						justify-content: center;
						gap: 2px;

						h3 {
							font-size: 15px;
							line-height: 18px;
							letter-spacing: 0.15px;
							color: $secondary;
							font-weight: 600;
						}

						.gtext {
							font-size: 12px;
							line-height: 20px;
							letter-spacing: 0.24px;
							color: $blacklight;
							font-weight: 300;
							display: block;
						}

						ul {
							li {
								font-size: 12px;
								line-height: 20px;
								letter-spacing: 0.24px;
								color: $blacklight;
								font-weight: 300;
								display: flex;
								gap: 7px;

								.icon {
									width: 13px;
									min-width: 13px;
								}
							}
						}
					}
				}

				.brow {
					padding: 13px 0;
					display: flex;
					flex-direction: column;
					border-top: 1px solid #EAEAEA;

					h4 {
						font-size: 13px;
						line-height: 20px;
						letter-spacing: 0.26px;
						font-weight: 600;
						color: $primary;
						margin-bottom: 5px;
					}

					p {
						font-size: 12px;
						line-height: 18px;
						letter-spacing: 0.24px;
						font-weight: 300;
						color: $blacklight;
						margin: 0;
					}
				}

				.cta_btn {
					background-color: $white;
					position: absolute;
					left: 50%;
					bottom: -20px;
					transform: translateX(-50%);
					white-space: nowrap;

					&:hover {
						background-color: $secondary;
					}
				}

				&:hover {
					border-color: $primary;
				}
			}
		}
	}

	/* last_bluebox */
	.last_bluebox {
		background: url("../../images/success-stories/bg_last_bluebox.png")no-repeat center center;
		width: 100%;
		background-size: cover;
		position: relative;

		.common_patch {
			right: 50px;
			top: 50px;

			@media (max-width:991px) {
				top: 210px;
				right: 15px;
			}

			@media (max-width:767px) {
				top: 180px;
			}
		}

		.custom_container {
			min-height: 436px;
			padding-top: 0;
			padding-bottom: 0;
			position: relative;
			z-index: 2;

			@media (max-width:991px) {
				min-height: 300px;
			}
		}

		.textbox {
			padding: 30px 0;

			@media (max-width:1199px) {
				padding: 30px 0;
			}

			@media (max-width:767px) {
				align-items: center;
				padding: 20px 0 !important;
			}

			.c_heading {
				@media (max-width:767px) {
					text-align: center;
				}

				br {
					@media (max-width:1199px) {
						display: none;
					}
				}
			}

			p {
				font-size: 14px;
				line-height: 23px;
				font-weight: 300;
				letter-spacing: 0.28px;
				color: $blacklight;

				@media (max-width:767px) {
					text-align: center;
				}
			}

			.btnrow {
				@media (max-width:767px) {
					justify-content: center;
				}
			}
		}

		.imgbox {
			position: relative;
			display: flex;
			align-items: flex-end;

			@media (max-width:767px) {
				justify-content: center;
			}

			img {
				max-height: 470px;
				position: absolute;
				left: 0;
				bottom: 0;

				@media (max-width:767px) {
					width: 100%;
					max-width: 350px;
					position: initial;
					left: initial;
					bottom: initial;
				}
			}
		}
	}

}


body {
	// padding: 0 !important;

}

.headerz,
.top_bannerz,
.details_wrapz,
.last_blueboxz {
	// display: none !important;
}