@import "../variables";

body {
	background: #ffffff;
	overflow-x: hidden;
}



/* page_wrap */
.page_wrap {
	width: 100%;
	overflow: hidden;
	z-index: 0;

	/* common_fullrow */
	.common_fullrow {
		.custom_container {
			padding: 30px 15px;
			display: flex;
			justify-content: space-between;

			@media (max-width:767px) {
				flex-direction: column !important;
				gap: 20px;
				padding: 20px 15px;
			}

			> {
				div {
					width: 48%;

					&.full {
						width: 100%;
					}

					@media (max-width:767px) {
						width: 100%;
					}
				}
			}

			&.reverse {
				flex-direction: row-reverse;
			}
		}
	}

	/* common_textbox */
	.common_textbox {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-bottom: 15px;

		p {
			font-size: 14px;
			line-height: 23px;
			color: $blacklight;
			font-family: $Outfit;
			font-weight: 300;
			letter-spacing: 0.28px;
			text-align: justify;
			margin-bottom: 20px;

			strong {
				font-weight: 700;
			}
		}

		h4 {
			font-size: 16px;
			line-height: 23px;
			letter-spacing: 0.32px;
			color: $black;
		}

		ul {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 10px 0 20px;

			@media (max-width:767px) {
				gap: 10px;
				padding: 10px 0 15px;
			}

			li {
				background-size: 16px 16px;
				font-size: 14px;
				line-height: 23px;
				letter-spacing: 0.28px;
				font-family: $Outfit;
				font-weight: 500;
				color: $blacklight;
				padding-left: 25px;
				position: relative;

				@media (max-width:991px) {
					font-size: 14px;
					line-height: 22px;
				}

				strong {
					font-weight: 600;
				}

				p {
					font-size: 14px;
					line-height: 23px;
					letter-spacing: 0.28px;
					font-family: $Outfit;
					font-weight: 500;
					color: $blacklight;
					text-align: left;
					margin: 0;
				}
			}

			&.with_bullet {
				li {
					&:before {
						content: '';
						background: url("../../images/common-images/icon_bullet_points.svg")no-repeat left top;
						background-size: 100% 100%;
						width: 12px;
						height: 10px;
						position: absolute;
						left: 0;
						top: 7px;
					}
				}
			}

			&.with_icon {
				li {
					display: flex;
					gap: 10px;
					padding-left: 0;

					&:before {
						display: none;
					}

					.icon {
						width: 15px;
						min-width: 15px;
						line-height: initial;

						img,
						svg {
							height: auto;
							line-height: initial;
						}
					}
				}
			}
		}
	}

	/* btnrow */
	.btnrow {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 15px 20px;
		padding-top: 15px;

		@media (max-width:991px) {
			gap: 15px;
		}

		&.center {
			justify-content: center;
		}
	}

	.top_textbox {
		p {
			font-size: 14px;
			line-height: 23px;
			font-weight: 300;
			color: $blacklight;
			text-align: left;
		}
	}

	/* common css End */

	/* top_banner */
	.top_banner {
		width: 100%;
		background-image: url("../../images/about-us/bg_top_banner.png");
		width: 100%;
		min-height: 578px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
		display: block;
		padding: 15px 0;
		text-align: center;
		display: flex;
		align-items: center;
		overflow: hidden;
		position: relative;

		@media (max-width:767px) {
			min-height: auto;
			padding: 35px 0;
		}

		.custom_container {
			display: flex;
			justify-content: space-between;

			@media (max-width:767px) {
				flex-direction: column;
				gap: 20px;
			}
		}

		.textbox {
			width: 40%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			position: relative;
			padding: 40px 0;

			@media (max-width:991px) {}

			@media (max-width:767px) {
				width: 100%;
				align-items: center;
				padding: 0;
			}

			.c_heading {
				margin-bottom: 20px;

				@media (max-width:991px) {
					margin-bottom: 15px;
				}

				@media (max-width:767px) {
					text-align: center;
				}
			}

			.sub_heading {
				font-weight: 500;
				margin-bottom: 20px;

				@media (max-width:991px) {
					margin-bottom: 15px;
				}

				@media (max-width:767px) {
					text-align: center;
				}
			}

			p {
				font-size: 14px;
				line-height: 26px;
				letter-spacing: 0.28px;
				color: $white;
				font-weight: 300;
				text-align: left;
				margin-bottom: 20px;

				@media (max-width:991px) {
					font-size: 12px;
					line-height: 20px;
					margin-bottom: 15px;
				}

				@media (max-width:767px) {
					text-align: center;
				}
			}

			.btnrow {
				@media (max-width:767px) {
					justify-content: center;
				}

				.cta_btn {
					&.bgpink {
						&:hover {
							background-color: $primary;
							border-color: $primary;
						}
					}
				}
			}

			.common_patch {
				left: 0;
				bottom: -20px;

				@media (max-width:1199px) {
					bottom: 0;
				}
			}
		}

		.imgbox {
			width: 55%;
			display: flex;
			align-items: flex-end;

			@media (max-width:767px) {
				width: 100%;
				justify-content: center;
				padding-left: 0;
			}

			img {
				width: auto;
				max-height: 525px;

				@media (max-width:767px) {
					width: 100%;
					max-width: 300px;
				}
			}
		}

		.owl-nav {
			display: none !important;
		}

		&.video {
			.banner_videobox {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;

				video {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				.overlay_div {
					background-color: $primary;
					// background: url("../../images/product-launch/bg_top_banner.png") no-repeat center top;
					background-size: cover;
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 2;
					opacity: 0.8;
				}
			}

			.custom_container {
				position: relative;
				z-index: 3;
			}
		}
	}

	/* section1 */
	.section1 {
		background-color: $white;
		position: relative;
		padding: 20px 0 30px;

		@media (max-width:767px) {
			padding: 0 0 15px;
		}

		.common_fullrow {
			.custom_container {
				position: relative;
			}

			.imgbox {
				position: relative;
				z-index: 2;

				.collage_box {
					width: 100%;
					display: flex;
					gap: 20px;

					@media (max-width:767px) {
						gap: 15px;
						justify-content: center;
					}

					.lftcol {
						width: 187px;
						min-width: 187px;
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						gap: 20px;

						@media (max-width:1199px) {
							width: 160px;
							min-width: 160px;
						}

						@media (max-width:991px) {
							width: 130px;
							min-width: 130px;
						}

						@media (max-width:767px) {
							width: 30%;
							min-width: 30%;
							gap: 15px;
						}
					}

					.rgtcol {
						width: 100%;
						max-width: 358px;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						gap: 20px;

						@media (max-width:767px) {
							gap: 15px;
						}
					}
				}

				@media (max-width:767px) {
					padding: 0 !important;
				}
			}

			.textbox {
				@media (max-width:767px) {
					padding: 0 !important;
				}
			}
		}

		.number_wrap {
			padding: 15px 0 30px;

			@media (max-width:991px) {
				padding: 15px 0;
			}

			ul {
				display: flex;
				flex-wrap: wrap;

				@media (max-width:767px) {
					gap: 25px 0;
				}

				li {
					width: 25%;
					padding-right: 20px;
					position: relative;

					@media (max-width:767px) {
						width: 50%;
						padding: 0 15px;
					}

					~ {
						li {
							padding-left: 40px;

							@media (max-width:1199px) {
								padding-left: 25px;
							}

							@media (max-width:767px) {
								padding-left: 15px;
							}

							&:before {
								content: '';
								background-color: $primary;
								width: 2px;
								height: 55px;
								position: absolute;
								left: 0;
								top: 10px;
							}
						}
					}

					&:nth-child(3) {
						&:before {
							@media (max-width:767px) {
								display: none;
							}
						}
					}

					.number {
						font-size: 55px;
						line-height: 50px;
						font-weight: 600;
						color: $secondary;
						margin-bottom: 10px;

						@media (max-width:1199px) {
							font-size: 40px;
							line-height: 45px;
						}

						@media (max-width:991px) {
							font-size: 32px;
							line-height: 32px;
						}

						@media (max-width:767px) {
							font-size: 26px;
							line-height: 32px;
							text-align: center;
						}
					}

					p {
						max-width: 190px;
						font-size: 16px;
						line-height: 23px;
						color: $secondary;
						font-weight: 300;
						margin: 0;

						@media (max-width:991px) {
							max-width: 100%;
							font-size: 15px;
						}

						@media (max-width:767px) {
							text-align: center;
						}
					}

				}
			}
		}

		.btnrow {
			@media (max-width:767px) {
				justify-content: center;
			}
		}
	}

	/* section2 */
	.section2 {
		background: url("../../images/common_circle_pattern.png")no-repeat center top;
		background-size: 100% auto;
		padding: 60px 0 30px;

		@media (max-width:767px) {
			padding: 40px 0 30px;
		}

		.custom_container {
			position: relative;

			.patch1 {
				left: -40px;
				top: 50px;

				@media (max-width:1365px) {
					left: 10px;
				}

				@media (max-width:767px) {
					top: 30px;
				}
			}

			.patch2 {
				right: -40px;
				bottom: 10px;

				@media (max-width:1365px) {
					right: 10px;
				}

				@media (max-width:767px) {
					bottom: -20px;
				}
			}
		}

		.top_textbox,
		.boxwrap {
			position: relative;
			z-index: 2;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 25px;
			padding: 40px 0;

			@media (max-width:991px) {
				gap: 15px;
			}

			@media (max-width:767px) {
				flex-direction: column;
				align-items: center;
				padding: 20px 0;
			}

			li {
				width: calc(25% - 20px);
				background-color: $white;
				padding: 20px;
				box-shadow: 0px 0px 16px #B3212C0F;
				border-radius: 15px;

				@media (max-width:1199px) {
					padding: 15px;
				}

				@media (max-width:991px) {
					width: calc(25% - 13px);
				}

				@media (max-width:767px) {
					width: 100%;
				}

				a {
					display: inline-block;
				}

				.imgbox {
					width: 100%;
					border-radius: 8px;
					overflow: hidden;

					img {
						transform: scale(1);
						transition: all ease-in-out 0.4s;
					}
				}

				.textbox {
					width: 100%;
					padding: 20px 5px 10px;

					@media (max-width:1199px) {
						padding: 15px 5px 0;
					}

					@media (max-width:767px) {
						padding: 10px 0px 0;
					}

					h3 {
						font-size: 14px;
						line-height: 21px;
						color: $secondary;
						font-weight: 500;
						margin-bottom: 7px;

						br {
							@media (max-width:991px) {
								display: none;
							}
						}
					}

					p {
						font-size: 13px;
						line-height: 21px;
						font-weight: 300;
						color: $blacklight;
						margin: 0;
					}
				}

				&:hover {
					box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
					transform: translateY(-10px);
					transition: all ease-in-out 0.4s;

					@media (max-width:991px) {
						transform: none;
					}

					.imgbox {
						img {
							transform: scale(1.2);
						}
					}
				}
			}
		}
	}

	/* section3 */
	.section3 {
		background: url("../../images/about-us/patch_circle_left.png")no-repeat left top;
		background-size: 347px auto;
		padding: 50px 0 60px;
		position: relative;

		@media (max-width:1525px) {
			background-size: 300px auto;
		}

		@media (max-width:991px) {
			background-size: 200px auto;
			padding: 35px 0 40px;
		}

		@media (max-width:767px) {
			background-size: 150px auto;
			padding: 25px 0;
		}

		.common_wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 25px;
			padding: 40px 0;

			@media (max-width:991px) {
				gap: 15px;
			}

			@media (max-width:767px) {
				flex-direction: column;
				align-items: center;
				padding: 20px 0;
			}

			.common {
				background-color: #F7FFFC;
				width: calc(25% - 20px);
				padding: 30px;
				border: 1px solid #6BBF9E;
				border-radius: 15px;

				@media (max-width:1199px) {
					padding: 15px;
				}

				@media (max-width:991px) {
					width: calc(25% - 13px);
				}

				@media (max-width:767px) {
					width: 100%;
				}

				.icon {
					background-color: #D9F4EA;
					width: 63px;
					height: 63px;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 10px;
					border-radius: 6px;
					margin-bottom: 25px;
				}

				h3 {
					width: 100%;
					font-size: 15px;
					line-height: 21px;
					font-weight: 600;
					color: $primary;
					margin: 0 0 5px;
				}

				p {
					font-size: 13px;
					line-height: 20px;
					font-weight: 400;
					color: $blacklight;
				}

				&:hover {
					box-shadow: 0px 0px 16px #6BBF9E50;
				}
			}
		}

		.b_text {
			font-size: 22px;
			line-height: 30px;
			font-weight: 600;
			letter-spacing: -0.22px;
			color: $primary;
			display: block;
			text-align: center;

			@media (max-width:767px) {
				font-size: 18px;
				line-height: 26px;
			}
		}
	}

	/* section4 */
	.section4 {
		background: url("../../images/about-us/bg_section4.png")no-repeat center top;
		background-size: cover;
		padding: 50px 0;

		@media (max-width:991px) {
			padding: 40px 0;
		}

		@media (max-width:767px) {
			padding: 25px 0;
		}

		.whitebox_wrap {
			width: 100%;
			display: flex;
			justify-content: space-between;
			gap: 20px 0;
			margin: 60px 0 30px;
			position: relative;

			@media (max-width:991px) {
				margin: 40px 0 20px;
			}

			@media (max-width:767px) {
				flex-direction: column;
				margin: 30px 0 10px;
			}

			.circle_logo {
				background-color: $white;
				width: 94px;
				height: 94px;
				border: 15px solid #fef7e7;
				border-radius: 100px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 10px;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				z-index: 3;

				@media (max-width:991px) {
					width: 80px;
					height: 80px;
					border-width: 10px;
				}

				@media (max-width:767px) {
					display: none;
				}

				img {
					width: 100%;
					max-width: 35px;
				}
			}

			.whitebox {
				background-color: $white;
				width: calc(50% - 15px);
				padding: 40px 40px 40px 50px;
				box-shadow: 0px 0px 16px #B3212C0F;
				border-radius: 15px;
				position: relative;
				z-index: 2;

				@media (max-width:991px) {
					width: calc(50% - 10px);
					padding: 35px;
				}

				@media (max-width:767px) {
					padding: 25px;
					width: 100%;
				}

				.absicon {
					width: 108px;
					position: absolute;
					right: 25px;
					top: 25px;

					@media (max-width:991px) {
						width: 60px;
						right: 15px;
						top: 15px;
					}

					img,
					svg {
						width: 100%;
					}
				}

				.textbox {
					padding: 0 0 15px;

					.toptext {
						width: 100%;
						padding-right: 120px;

						@media (max-width:991px) {
							padding-right: 60px;
						}

						h3 {
							font-size: 21px;
							line-height: 28px;
							font-weight: 600;
							letter-spacing: -0.21px;
							color: $primary;
						}

						.deg {
							font-size: 14px;
							line-height: 22px;
							font-weight: 600;
							letter-spacing: 0.28px;
							color: $secondary;
						}

						.field {
							font-size: 12px;
							line-height: 20px;
							font-weight: 400;
							letter-spacing: 0.24px;
							color: #213F6C;
							display: block;
							margin: 0 0 5px;
						}

						.animate_border {
							&:before {
								background: $primary;
							}
						}

						p {
							font-size: 12px;
							line-height: 20px;
							letter-spacing: 0.24px;
							color: $secondary;
							margin: 0 0 10px;
						}
					}

					ul {
						li {
							font-size: 12px;
							color: $secondary;
							font-weight: 400;
						}
					}
				}
			}

			.patch1 {
				left: -50px;
				bottom: 20px;

				@media (max-width:1365px) {
					left: -10px
				}
			}

			.patch2 {
				right: -50px;
				top: 20px;

				@media (max-width:1365px) {
					right: -10px
				}
			}
		}
	}

	/* section5 */
	.section5 {
		padding: 40px 0;

		@media (max-width:991px) {
			padding: 25px 0;
		}

		@media (max-width:767px) {
			padding: 10px 0;
		}

		.textbox {
			ul {
				gap: 15px;
				padding-top: 0;

				li {
					font-weight: 300;
					color: $blacklight;

					strong {
						color: $secondary;
						font-weight: 600;
					}
				}
			}
		}
	}

	/* last_bluebox */
	.last_bluebox {
		background: url("../../images/about-us/bg_last_bluebox.png")no-repeat right top;
		width: 100%;
		background-size: cover;
		position: relative;

		.common_patch {
			right: 50px;
			top: 50px;

			@media (max-width:991px) {
				top: 210px;
				right: 15px;
			}

			@media (max-width:767px) {
				top: 180px;
			}
		}

		.custom_container {
			min-height: 436px;
			padding-top: 0;
			padding-bottom: 0;
			position: relative;
			z-index: 2;

			@media (max-width:991px) {
				min-height: 300px;
			}
		}

		.textbox {
			padding: 30px 80px 30px 0;

			@media (max-width:1199px) {
				padding: 30px 0;
			}

			@media (max-width:767px) {
				align-items: center;
				padding: 20px 0 !important;
			}

			.c_heading {
				@media (max-width:767px) {
					text-align: center;
				}

				br {
					@media (max-width:1199px) {
						display: none;
					}
				}
			}

			p {
				font-size: 16px;
				line-height: 23px;
				font-weight: 500;
				color: $white;

				@media (max-width:767px) {
					text-align: center;
				}
			}

			.btnrow {
				@media (max-width:767px) {
					justify-content: center;
				}

				.bgpink {
					&:hover {
						background-color: $primary;
						border-color: $primary;
					}
				}
			}
		}

		.imgbox {
			position: relative;
			display: flex;
			align-items: flex-end;

			@media (max-width:767px) {
				justify-content: center;
			}

			img {
				max-height: 470px;
				position: absolute;
				left: 0;
				bottom: 0;

				@media (max-width:767px) {
					width: 100%;
					max-width: 350px;
					position: initial;
					left: initial;
					bottom: initial;
				}
			}
		}
	}

}


body {
	// padding: 0 !important;

}

.header,
.top_banner,
.section1,
.section2,
.section3,
.section4,
.section5,
.last_bluebox {
	// display: none !important;
}