@import "../variables";

body {
	background: #ffffff;
	overflow-x: hidden;
}



/* page_wrap */
.page_wrap {
	width: 100%;
	overflow: hidden;
	z-index: 0;

	/* common_fullrow */
	.common_fullrow {
		.custom_container {
			padding: 30px 15px;
			display: flex;
			justify-content: space-between;

			@media (max-width:767px) {
				flex-direction: column !important;
				gap: 20px;
				padding: 20px 15px;
			}

			> {
				div {
					width: 48%;

					&.full {
						width: 100%;
					}

					@media (max-width:767px) {
						width: 100%;
					}
				}
			}

			&.reverse {
				flex-direction: row-reverse;
			}
		}
	}

	/* common_textbox */
	.common_textbox {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-bottom: 15px;

		p {
			font-size: 14px;
			line-height: 23px;
			color: $blacklight;
			font-family: $Outfit;
			font-weight: 300;
			letter-spacing: 0.28px;
			text-align: justify;
			margin-bottom: 20px;

			strong {
				font-weight: 700;
			}
		}

		h4 {
			font-size: 16px;
			line-height: 23px;
			letter-spacing: 0.32px;
			color: $black;
		}

		ul {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 10px 0 20px;

			@media (max-width:767px) {
				gap: 10px;
				padding: 10px 0 15px;
			}

			li {
				background-size: 16px 16px;
				font-size: 14px;
				line-height: 23px;
				letter-spacing: 0.28px;
				font-family: $Outfit;
				font-weight: 500;
				color: $blacklight;
				padding-left: 25px;
				position: relative;

				@media (max-width:991px) {
					font-size: 14px;
					line-height: 22px;
				}

				strong {
					font-weight: 600;
				}

				p {
					font-size: 14px;
					line-height: 23px;
					letter-spacing: 0.28px;
					font-family: $Outfit;
					font-weight: 500;
					color: $blacklight;
					text-align: left;
					margin: 0;
				}
			}

			&.with_bullet {
				li {
					&:before {
						content: '';
						background: url("../../images/common-images/icon_bullet_points.svg")no-repeat left top;
						background-size: 100% 100%;
						width: 12px;
						height: 10px;
						position: absolute;
						left: 0;
						top: 7px;
					}
				}
			}

			&.with_icon {
				li {
					display: flex;
					gap: 10px;
					padding-left: 0;

					&:before {
						display: none;
					}

					.icon {
						width: 15px;
						min-width: 15px;
						line-height: initial;

						img,
						svg {
							height: auto;
							line-height: initial;
						}
					}
				}
			}
		}
	}

	.owl-carousel {

		.owl-stage,
		.owl-item {
			display: flex;
		}

		.owl-nav {
			> {
				div {
					width: 24px;
					height: 24px;
					border-radius: 50px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					border-radius: 50px;

					&.disabled {
						display: none;
					}

					&.owl-prev {
						background: url("../../images/common-images/icon_carousel_prev.svg")no-repeat center center;
						background-size: 100% 100%;
						left: 0px;

						@media (max-width:1329px) {
							left: 0;
						}
					}

					&.owl-next {
						background: url("../../images/common-images/icon_carousel_next.svg")no-repeat center center;
						background-size: 100% 100%;
						right: 0px;

						@media (max-width:1329px) {
							right: 0;
						}
					}
				}
			}
		}

		.owl-dots {
			width: 100%;
			display: flex;
			justify-content: center;
			gap: 7px;
			position: absolute;
			left: 0;
			bottom: 10px;

			.owl-dot {
				background-color: $white;
				width: 15px;
				height: 15px;
				border-radius: 25px;
				box-shadow: rgba(0, 0, 0, .5)0px 0px 5px;

				&.active {
					background-color: $secondary;
				}
			}
		}
	}

	/* btnrow */
	.btnrow {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 15px 20px;
		padding-top: 15px;

		@media (max-width:991px) {
			gap: 15px;
		}

		&.center {
			justify-content: center;
		}
	}

	.top_textbox {
		p {
			font-size: 14px;
			line-height: 23px;
			font-weight: 300;
			color: $blacklight;
			text-align: left;
		}
	}

	/* common css End */

	/* top_banner */
	.top_banner {
		width: 100%;
		background-image: url("../../images/solutions/bg_top_banner.png");
		width: 100%;
		min-height: 578px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
		display: block;
		padding: 0;
		text-align: center;
		display: flex;
		overflow: hidden;
		position: relative;

		@media (max-width:767px) {
			min-height: auto;
			padding: 35px 0 0;
		}

		.custom_container {
			display: flex;
			justify-content: space-between;

			@media (max-width:767px) {
				flex-direction: column;
				gap: 20px;
			}
		}

		.textbox {
			width: 40%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			position: relative;
			padding: 40px 0;

			@media (max-width:991px) {}

			@media (max-width:767px) {
				width: 100%;
				align-items: center;
				padding: 0;
			}

			.c_heading {
				margin-bottom: 20px;

				@media (max-width:991px) {
					margin-bottom: 15px;
				}

				@media (max-width:767px) {
					text-align: center;
				}
			}

			.sub_heading {
				font-weight: 500;
				margin-bottom: 20px;

				@media (max-width:991px) {
					margin-bottom: 15px;
				}

				@media (max-width:767px) {
					text-align: center;
				}
			}

			p {
				font-size: 14px;
				line-height: 26px;
				letter-spacing: 0.28px;
				color: $white;
				font-weight: 300;
				text-align: left;
				margin-bottom: 20px;

				@media (max-width:991px) {
					font-size: 12px;
					line-height: 20px;
					margin-bottom: 15px;
				}

				@media (max-width:767px) {
					text-align: center;
				}
			}

			.btnrow {
				@media (max-width:767px) {
					justify-content: center;
				}

				.cta_btn {
					&.bgpink {
						&:hover {
							background-color: $primary;
							border-color: $primary;
						}
					}
				}
			}

			.common_patch {
				left: 0;
				bottom: 50px;

				@media (max-width:1199px) {
					bottom: 20px;
				}
			}
		}

		.imgbox {
			width: 55%;
			display: flex;
			align-items: flex-end;

			@media (max-width:767px) {
				width: 100%;
				justify-content: center;
				padding-left: 0;
			}

			img {
				width: auto;
				max-height: 600px;

				@media (max-width:767px) {
					width: 100%;
					max-width: 300px;
				}
			}

			&.abs_img {
				position: relative;

				> {
					img {
						@media (min-width:1300px) {
							width: 760px;
							min-width: 760px;
							max-height: 525px;
							position: absolute;
							right: 0;
							bottom: 0;
						}
					}
				}
			}
		}
	}

	/* section1 */
	.section1 {
		background: url("../../images/common_circle_left.png")no-repeat left bottom 100px;
		background-size: 347px auto;
		position: relative;
		padding: 30px 0 70px;

		@media (max-width:991px) {
			background-size: 300px auto;
			padding: 20px 0 30px;
		}

		@media (max-width:767px) {
			background-size: 200px auto;
			padding: 0 0 15px;
		}

		.common_fullrow {
			@media (max-width:991px) {
				margin-bottom: 0 !important;
			}

			.custom_container {
				position: relative;

				.imgbox {
					width: 52%;

					@media (max-width:767px) {
						width: 100%;
					}
				}

				.textbox {
					width: 48%;
					padding-right: 90px;

					@media (max-width:1199px) {
						padding-right: 60px;
					}

					@media (max-width:991px) {
						padding-right: 40px;
					}

					@media (max-width:767px) {
						width: 100%;
						padding-right: 0;
					}
				}

				&.reverse {
					.textbox {
						padding-right: 0;
						padding-left: 90px;

						@media (max-width:1199px) {
							padding-left: 60px;
						}

						@media (max-width:991px) {
							padding-left: 40px;
						}
					}

					.imgbox {
						.rgtpatch {
							right: -50px;

							@media (max-width:991px) {
								right: -30px;
							}

							@media (max-width:767px) {
								right: -10px;
							}
						}
					}
				}
			}

			.textbox {
				.c_heading {
					margin-bottom: 5px;
				}

				@media (max-width:767px) {
					padding: 0 !important;
				}
			}
		}
	}

	/* section2 */
	.section2 {
		background: url("../../images/common_circle_pattern.png")no-repeat center top;
		background-size: 100% auto;
		padding-bottom: 40px;
		position: relative;
		overflow: hidden;

		@media (max-width:767px) {
			padding: 25px 0 15px;
		}

		.common_fullrow {
			position: relative;
			z-index: 3;

			@media (max-width:991px) {
				margin-bottom: 0 !important;
			}

			.custom_container {
				position: relative;

				.imgbox {
					width: 52%;

					@media (max-width:767px) {
						width: 100%;
					}
				}

				.textbox {
					width: 48%;
					padding-right: 90px;

					@media (max-width:1199px) {
						padding-right: 60px;
					}

					@media (max-width:991px) {
						padding-right: 40px;
					}

					@media (max-width:767px) {
						width: 100%;
						padding-right: 0;
					}
				}

				&.reverse {
					.textbox {
						padding-right: 0;
						padding-left: 90px;

						@media (max-width:1199px) {
							padding-left: 60px;
						}

						@media (max-width:991px) {
							padding-left: 40px;
						}
					}

					.imgbox {
						.rgtpatch {
							right: -50px;

							@media (max-width:991px) {
								right: -30px;
							}

							@media (max-width:767px) {
								right: -10px;
							}
						}
					}
				}
			}

			.textbox {
				.c_heading {
					margin-bottom: 5px;
				}

				@media (max-width:767px) {
					padding: 0 !important;
				}
			}
		}

		.btmpatch {
			width: 378px;
			position: absolute;
			left: 0;
			bottom: -200px;
			z-index: 2;

			@media (max-width:991px) {
				width: 300px;
			}

			@media (max-width:767px) {
				width: 200px;
			}
		}
	}

	/* section3 */
	.section3 {
		background: url("../../images/common_bgpink.png")no-repeat center center;
		background-size: cover;
		padding: 30px 0 50px;

		@media (max-width:1199px) {
			padding: 10px 0;
		}

		@media (max-width:767px) {
			padding: 0;
		}

		.textbox {
			ul {
				gap: 15px;

				@media (max-width:767px) {
					gap: 10px;
				}

				li {
					font-weight: 300;
				}
			}

		}
	}

	/* last_bluebox */
	.last_bluebox {
		background: url("../../images/solutions/bg_last_bluebox.png")no-repeat right top;
		width: 100%;
		min-height: 431px;
		background-size: cover;
		position: relative;

		@media (max-width:991px) {
			min-height: auto;
		}

		.common_patch {
			right: 50px;
			top: 50px;

			@media (max-width:991px) {
				top: 210px;
				right: 15px;
			}

			@media (max-width:767px) {
				top: 180px;
			}
		}

		.custom_container {
			min-height: 436px;
			padding-top: 0;
			padding-bottom: 0;
			position: relative;
			z-index: 2;

			@media (max-width:991px) {
				min-height: 300px;
			}
		}

		.textbox {
			padding: 30px 80px 30px 0;

			@media (max-width:1199px) {
				padding: 30px 0;
			}

			@media (max-width:767px) {
				align-items: center;
				padding: 20px 0 !important;
			}

			.c_heading {
				@media (max-width:767px) {
					text-align: center;
				}

				br {
					@media (max-width:1199px) {
						display: none;
					}
				}
			}

			p {
				font-size: 16px;
				line-height: 23px;
				font-weight: 500;
				color: $white;

				@media (max-width:767px) {
					text-align: center;
				}
			}

			.btnrow {
				@media (max-width:767px) {
					justify-content: center;
				}

				.bgpink {
					&:hover {
						background-color: $primary;
						border-color: $primary;
					}
				}
			}
		}

		.imgbox {
			position: relative;
			display: flex;
			align-items: flex-end;

			@media (max-width:767px) {
				justify-content: center;
			}

			img {
				width: 638px;
				min-width: 638px;
				position: absolute;
				right: 0;
				bottom: 0;

				@media (max-width:1199px) {
					width: auto;
					min-width: auto;
				}

				@media (max-width:991px) {
					position: inherit;
					right: inherit;
					bottom: inherit;
				}

				@media (max-width:767px) {
					width: 100%;
					max-width: 350px;
				}
			}
		}
	}


}


body {
	// padding: 0 !important;

}

.headerz,
.top_bannerz,
.section1z,
.section2z,
.section3z {
	// display: none !important;
}