@import "../variables";
@import "../component/select-semantic";

body {
	background: #ffffff;
	overflow-x: hidden;
}

/* page_wrap */
.page_wrap {
	width: 100%;
	overflow: hidden;
	z-index: 0;

	/* common_fullrow */
	.common_fullrow {
		.custom_container {
			padding: 30px 15px;
			display: flex;
			justify-content: space-between;

			@media (max-width:767px) {
				flex-direction: column !important;
				gap: 20px;
				padding: 20px 15px;
			}

			> {
				div {
					width: 48%;

					&.full {
						width: 100%;
					}

					@media (max-width:767px) {
						width: 100%;
					}
				}
			}

			&.reverse {
				flex-direction: row-reverse;
			}
		}
	}

	/* common_textbox */
	.common_textbox {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 0 0 25px;

		@media (max-width:767px) {
			padding: 0 !important;
		}

		p {
			font-size: 14px;
			line-height: 23px;
			color: $blacklight;
			font-family: $Outfit;
			font-weight: 300;
			letter-spacing: 0.28px;
			text-align: justify;
			margin-bottom: 20px;

			strong {
				font-weight: 700;
			}
		}

		h4 {
			font-size: 16px;
			line-height: 23px;
			letter-spacing: 0.32px;
			color: $black;
		}

		ul {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 10px 0 20px;

			@media (max-width:767px) {
				gap: 10px;
				padding: 10px 0 15px;
			}

			li {
				background-size: 16px 16px;
				font-size: 14px;
				line-height: 23px;
				font-family: $Outfit;
				font-weight: 600;
				color: $primary;
				padding-left: 25px;
				position: relative;

				@media (max-width:991px) {
					font-size: 14px;
					line-height: 22px;
				}

				&:before {
					content: '';
					background-color: $primary;
					width: 9px;
					height: 9px;
					border-radius: 5px;
					position: absolute;
					left: 0;
					top: 7px;
				}

				strong {
					font-weight: 600;
				}

				p {
					font-size: 14px;
					line-height: 20px;
					font-weight: 600;
					color: $primary;
					text-align: left;
					margin: 0;
				}
			}


			&.reddot {
				li {
					&::before {
						background-color: $red;
					}
				}
			}

			&.with_icon {
				li {
					display: flex;
					gap: 10px;
					padding-left: 0;

					&:before {
						display: none;
					}

					.icon {
						width: 15px;
						min-width: 15px;
						line-height: initial;

						img,
						svg {
							height: auto;
							line-height: initial;
						}
					}
				}
			}
		}

		.btnrow {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			gap: 15px 20px;
			padding-top: 15px;
		}
	}

	.btnrow {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		gap: 15px 20px;
		padding-top: 15px;

		&.center {
			justify-content: center;
		}
	}

	.common_patch {
		width: 100px !important;
		position: absolute;

		@media (max-width:991px) {
			width: 70px !important;
		}

		img,
		svg {
			width: 100%;
			height: auto;
		}
	}

	/* common css End */

	/* form-group */
	.form-group {
		margin: 0;

		label {
			width: 16px;
			height: 16px;
			line-height: 16px;
			position: relative;
			cursor: pointer;
			margin: 0;

			&:before {
				content: '';
				width: 16px;
				height: 16px;
				-webkit-appearance: none;
				background-color: transparent;
				border: 1px solid $szeero;
				padding: 2px;
				display: inline-block;
				position: relative;
				vertical-align: middle;
				cursor: pointer;
				border-radius: 2px;
				margin: -2px 0 0 0;
			}
		}

		input {
			padding: 0;
			height: initial;
			width: initial;
			margin-bottom: 0;
			display: none;
			cursor: pointer;

			&:checked+label {
				&:before {
					border: 1px solid $secondary;
					background: $secondary;
				}

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 3px;
					left: 6px;
					width: 5px;
					height: 10px;
					border: solid $white;
					border-width: 0 2px 2px 0;
					transform: rotate(45deg);
				}
			}
		}


	}

	/* letter_remaining */
	.letter_remaining {
		display: flex;
		justify-content: flex-end;
		font-size: 12px;
		line-height: 16px;
		font-weight: 400;
		color: #A8A8A8;
		margin: 5px 0;

		span {
			font-size: inherit;
			color: inherit !important;
		}
	}

	/* error_msg */
	.error_msg {
		background: rgba(94, 171, 222, 0.2);
		width: 100%;
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 5px 10px;
		border-radius: 0 4px 4px 0;
		border-left: 2px solid $red;
		margin: 5px 0;

		.licon {
			width: 24px;
			min-width: 24px;
		}

		.textbox {
			width: 100%;
			display: flex;
			flex-direction: column;

			.ttext {
				font-size: 11px;
				line-height: 14px;
				font-weight: 600;
				color: $red;
			}

			p {
				font-size: 11px;
				line-height: 16px;
				color: $black;
				margin: 0 !important;
			}
		}
	}

	/* top_banner */
	.top_banner {
		background: url("../../images/enquiry-form/bg_top_banner.png")no-repeat center center;
		background-size: cover;
		width: 100%;
		min-height: 363px;
		padding: 50px 0 130px;
		display: flex;
		align-items: center;

		@media (max-width:1199px) {
			min-height: 300px;
		}

		@media (max-width:991px) {
			min-height: 250px;
			padding: 50px 0 100px;
		}

		@media (max-width:767px) {
			min-height: 200px;
			padding: 30px 0 60px;
		}

		.custom_container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;
		}

		.c_heading {
			margin: 0 0 5px;

			span {
				@media (max-width:991px) {
					display: block;
				}
			}
		}

		.sub_heading {
			max-width: 680px;
			text-align: center;
			margin: 0;
		}
	}


	/* enquiry_form */
	.enquiry_form {
		position: relative;
		top: -80px;
		margin-bottom: -80px;

		@media (max-width: 991px) {
			top: -50px;
			margin-bottom: -50px;
		}

		@media (max-width:767px) {
			top: -30px;
			margin-bottom: -30px;
		}

		.custom_container {
			max-width: 950px;
			display: flex;
			justify-content: center;
			position: relative;

			.lft_patch {
				position: absolute;
				left: -18px;
				top: 265px;
				z-index: -1;

				@media (max-width:1199px) {
					left: 0;
				}

				@media (max-width:767px) {
					width: 100px
				}
			}

			.rgt_patch {
				position: absolute;
				right: -140px;
				top: 150px;
				z-index: -1;

				@media (max-width:1365px) {
					right: -100px;
				}

				@media (max-width:1199px) {
					right: 0;
				}

				@media (max-width:767px) {
					width: 100px
				}
			}
		}

		.leftbox {
			width: 295px;
			position: relative;
			padding-top: 15px;
			display: flex;
			align-items: flex-end;
			z-index: 2;

			@media (max-width:767px) {
				display: none;
			}
		}

		.rightbox {
			padding-bottom: 30px;

			@media (max-width:767px) {
				padding: 0;
			}

			.whitebox {
				background-color: $white;
				width: 100%;
				max-width: 690px;
				min-height: 700px;
				box-shadow: 0px 0px 16px #B3212C0F;
				padding: 35px 50px;
				border-radius: 10px;
				position: relative;

				@media (max-width:991px) {
					padding: 30px 40px;
				}

				@media (max-width:767px) {
					padding: 20px 15px;
				}

				.c_heading {
					font-size: 22px;
					line-height: 30px;
					margin: 0 0 10px;

					@media (max-width:767px) {
						font-size: 18px;
						line-height: 24px;
					}
				}

				.formarea {
					width: 100%;

					.row {
						> {
							div {
								margin: 15px 0;
							}
						}
					}

					.new_inputlabel {
						background-color: $white;

						.textarea {
							min-height: 105px;
						}
					}

					.two_column {
						display: flex;
						gap: 15px;

						> {
							div {
								width: 100%;
							}
						}

						.td1 {
							width: 85px;
							min-width: 85px;

							.new_inputlabel {
								.ui.search.dropdown {
									background-position: right 4px center !important;

									> {
										.text {
											width: calc(100% - 15px);
											padding: 0 5px 0 7px !important;

											.icon {
												margin-right: 0;
											}
										}
									}

									input.search {
										padding-right: 5px !important;
									}
								}
							}
						}

						.td2 {
							.mytooltip {
								.tooltip_content {
									@media (max-width: 767px) {
										left: -100px !important;
									}
								}
							}
						}
					}

					.agree {
						display: flex;
						gap: 10px;

						p {
							font-size: 12px;
							line-height: 18px;
							font-weight: 400;
							color: $szeero;
							font-family: $Poppins;
							margin: 0;

							strong {
								font-weight: 700;
							}

							a {
								color: #056AF4;
								text-decoration: underline;

								&:hover {
									text-decoration: none;
								}
							}
						}
					}

					.btnrow {
						display: flex;
						flex-wrap: inherit;
						align-items: flex-start;
						gap: 10px 15px;
						justify-content: space-between;
						padding-top: 0;

						@media (max-width: 991px) {
							flex-direction: column;
							align-items: flex-start;
							gap: 20px;
						}

						.add_attachment {
							display: flex;
							flex-wrap: wrap;
							align-items: center;
							gap: 15px 20px;

							@media (max-width:767px) {
								flex-direction: column;
								align-items: flex-start;
							}

							.htext {
								font-size: 12px;
								line-height: 21px;
								color: $secondary;
								font-weight: 500;

								span {
									color: $secondary;
								}
							}

							/* custom_choose */
							.custom_choose {
								display: flex;
								flex-wrap: wrap;
								align-items: center;
								gap: 10px;

								input[type="file"] {
									display: none;
								}

								.custom-button {
									background-color: $white;
									min-width: 140px;
									height: 40px;
									display: flex;
									align-items: center;
									justify-content: flex-start;
									padding: 5px 10px;
									font-size: 12px;
									font-weight: 600;
									cursor: pointer;
									color: $secondary;
									font-family: $Outfit;
									border: none;
									display: flex;
									align-items: center;
									justify-content: center;
									gap: 10px;
									margin: 0;
									border: 1px solid $secondary;
									border-radius: 50px;

									.text {
										display: flex;
										flex-direction: column;
										gap: 3px;
									}

									svg {
										path {
											fill: $secondary;
										}
									}

									&:hover {
										background-color: $secondary;
										color: $white;

										svg {
											path {
												fill: $white;
											}
										}
									}
								}

								.file-list {
									.file-name {
										display: flex;
										align-items: center;
										justify-content: center;
										font-size: 12px;
										line-height: 20px;
										font-weight: 500;
										color: $primary;
									}

									.file-item {
										position: relative;
										display: flex;
										align-items: center;
										gap: 8px;

										img {
											width: 100%;
											max-width: 10px;
											min-width: 10px;
										}

										.icon_delete {
											cursor: pointer;
										}
									}
								}
							}
						}

						.cta_btn {
							width: 170px;
							min-width: 170px;
						}
					}

					.thankyou_msg {
						display: flex;
						justify-content: space-between;
						gap: 15px;

						.icon {
							width: 20px;
							min-width: 20px;
							padding-top: 3px;

							img,
							svg {
								width: 20px;
								height: auto;
							}
						}

						.text {
							width: 100%;
							display: flex;
							flex-direction: column;
							gap: 5px;

							h3 {
								font-size: 20px;
								line-height: 24px;
								font-weight: 600;
								color: $green;
								margin: 0 0 3px;

								@media (max-width: 767px) {
									font-size: 18px;
								}
							}

							p {
								max-width: 500px;
								font-size: 13px;
								line-height: 20px;
								font-weight: 400;
								color: $black;
								margin: 0;
							}
						}
					}
				}

				.common_patch {
					&.lftpatch {
						left: -60px;
						top: 190px;
						z-index: -1;

						@media (max-width:991px) {
							left: -10px;
						}
					}

					&.rgtpatch {
						right: -60px;
						bottom: 150px;
						z-index: -1;

						@media (max-width:991px) {
							right: -10px;
						}
					}


				}
			}
		}
	}
}


body {
	// padding: 0 !important;
}

.headerz,
.top_bannerz {
	// display: none !important;
}