/* ui-datepicker css start */
.ui-datepicker {
	padding: 0 !important;
	border: 0 !important;
	box-shadow: 0px 3px 6px #00000029;

	.ui-datepicker-header {
		background: #E5EFE9 !important;
		border-radius: 5px !important;
		border: 0 !important;

		.ui-datepicker-title {
			span {
				font-size: 12px;
				line-height: 19px;
				font-weight: 600;
				color: $blacklight;
			}
		}

		.ui-datepicker-prev {
			width: 12px;
			height: 12px;
			left: 10px;
			top: 10px;
			cursor: pointer;

			span {
				background: url("../../images/common-images/icon_arrow_calendar_left_blue.svg")no-repeat left top;
				width: 12px;
				height: 12px;
				position: relative;
				left: 0;
				top: 0;
				margin: 0;
			}

			&:hover {
				border: 0 !important;

				span {
					opacity: .8;
				}
			}
		}

		.ui-datepicker-next {
			width: 12px;
			height: 12px;
			right: 10px;
			top: 10px;
			cursor: pointer;

			span {
				background: url("../../images/common-images/icon_arrow_calendar_right_blue.svg")no-repeat left top;
				width: 12px;
				height: 12px;
				position: relative;
				left: 0;
				top: 0;
				margin: 0;
			}

			&:hover {
				border: 0 !important;

				span {
					opacity: .8;
				}
			}
		}
	}

	th {
		span {
			font-size: 10px;
			font-weight: 500;
			color: #8BA595;
		}
	}

	td {
		a {
			background: none !important;
			width: 31px;
			min-width: 31px;
			height: 31px;
			border-radius: 100%;
			font-size: 11px;
			font-weight: 500 !important;
			color: $black !important;
			display: flex !important;
			align-items: center;
			justify-content: center;
			border-color: transparent !important;

			&.ui-state-highlight {
				background-color: #D6F2E1 !important;
				border-color: $blacklight !important;
				font-weight: 600 !important;
				font-family: $Poppins !important;
				color: $blacklight !important;
				opacity: 0.7;
			}

			&.ui-state-active {
				background-color: #D6F2E1 !important;
				border-color: $blacklight !important;
				font-weight: 600 !important;
				font-family: $Poppins !important;
				color: $blacklight !important;
			}
		}
	}
}

/* ui-datepicker css end */