/* select-semantic css start  */
.ui.search.dropdown {
    background: url("../../images/influencer-listing/ic-down-arrow.svg") no-repeat right 10px center !important;
    background-size: 12px auto !important;
    position: relative;
    width: 100%;
    height: 45px;
    padding: 10px;
    line-height: 24px;
    outline: 0;
    white-space: nowrap;
    min-width: 100% !important;
    box-shadow: none !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    border-radius: 5px;
    border: 1px solid #e3e3e3;

    &.input_none {
        input.search {
            opacity: 0;
        }
    }
}

.dropdown.icon {
    position: absolute !important;

    &::before {
        content: "" !important;
    }
}

.ui.search.dropdown {
    >input {
        height: 100%;
    }

    >input.search {
        line-height: 100%;
        padding: 10px 30px 10px 10px !important;
    }

    >.text {
        width: 100%;
        font-size: 12px;
        color: $black !important;
        font-family: $Poppins;
        font-weight: 400;
        top: 0px;
        overflow: hidden;
    }
}

.ui.search.dropdown.active {
    >input.search {
        font-size: 12px;
        color: $black !important;
        font-family: $Poppins;
        font-weight: 400;
    }
}

.ui.search.dropdown.visible {
    >input.search {
        font-size: 12px;
        color: $black !important;
        font-family: $Poppins;
        font-weight: 400;
    }
}

.ui.default.dropdown {
    &:not(.button) {
        >.text {
            font-size: 12px;
            color: $black !important;
            font-family: $Poppins;
            font-weight: 400;
        }
    }
}

.ui.dropdown {
    &:not(.button) {
        >.default.text {
            font-size: 12px;
            color: $black !important;
            font-family: $Poppins;
            font-weight: 400;
        }
    }
}

.ui.search.dropdown.with_icon {
    input.search {
        padding-left: 37px !important;
    }

    .text {
        display: flex;
    }

    .icon {
        width: 20px;
        min-width: 20px;
        margin-right: 5px;
        display: flex;
        align-items: center;

        img {
            max-width: 15px;
        }
    }
}

.ui.selection.dropdown {
    .menu {
        z-index: 60;

        &.mw_180 {
            min-width: 180px;
        }

        .item {
            font-size: 14px;
            color: $szeero !important;
            font-family: $Poppins;
            font-weight: 400;
            display: flex;
            align-items: center;
            line-height: 22px;
            border: 0;
            cursor: pointer;
            padding: 8px 15px !important;
        }

        .active.item {
            font-size: 14px;
            color: $szeero !important;
            font-family: $Poppins;
            font-weight: 400;
            display: flex;
            align-items: center;
            line-height: 22px;
        }

        .active.item.active {
            font-weight: 500;
            color: $black !important;
        }
    }
}

.dropdown-toggle {
    &:after {
        display: none;
    }
}

.ui.selection.dropdown {
    .with_searchbox {
        max-height: inherit;

        .fullrow {
            width: 100%;
            display: block;
            padding: 0px 15px;
            text-align: right;

            .selectall {
                font-size: 12px;
                line-height: 18px;
                color: $red;
                cursor: pointer;
                display: inline-block;
            }
        }

        .selectsearch_wrap {
            width: 100%;
            padding: 10px 15px;

            .custom_search,
            .search_area {
                width: 100%;

                .input {
                    background: $white;
                    width: 100%;
                    height: 38px !important;
                    padding: 10px !important;
                    font-size: 12px;
                    line-height: 26px !important;
                    color: $szeero;
                    border: 1px solid rgba(112, 112, 112, 0.2) !important;
                    border-radius: 3px;
                }
            }
        }

        .select_scrollarea {
            width: 100%;
            max-height: 150px;
            overflow: auto;
        }
    }
}

/* select-semantic css end  */

/* new_inputlabel */
.new_inputlabel {
    border: 1px solid rgba(112, 112, 112, 0.2);
    padding: 4px 0;
    border-radius: 5px;
    position: relative;

    .label {
        // background-color: $white;
        padding: 0 8px;
        font-size: 12px;
        line-height: 22px;
        color: $szeero;
        font-weight: 400;
        font-family: $Poppins !important;
        position: absolute;
        left: 5px;
        top: -12px;
        display: inline-block;

        a {
            font-size: inherit;
            color: #0F4EF1;
        }

        .star {
            color: $red !important;
        }

        &.graytext,
        .graytext {
            color: #A8A8A8 !important;
        }

        .mytooltip {
            margin-left: 3px;

            .icon_tooltip {
                width: 11px;
                min-width: 11px;
            }
        }

        &:before {
            content: '';
            background-color: $white;
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            top: 11px;
        }
    }

    .input {
        height: 35px !important;
        line-height: 35px !important;
        font-size: 12px;
        border: 0;
        color: $szeero;
        padding: 0 15px;

        &.graytext {
            color: $szeero;
        }
    }

    .textarea {
        min-height: 100px;
        line-height: 20px;
        font-size: 12px;
        color: $szeero;
        border: 0;
        padding: 10px 15px;

        &.text_autoheight {
            resize: none;
        }

        &.graytext {
            color: $szeero;
        }
    }

    .ui.search.dropdown {
        background: url("../../images/common-images/ic-down-arrow-red.svg") no-repeat right 10px center !important;
        background-size: 11px auto !important;
        height: 35px;
        min-height: 35px;
        line-height: 35px;
        border: 0;
        padding: 0 !important;
        border: 0 !important;

        &.no_arrow {
            background: none !important;
        }

        > {
            .text {
                width: calc(100% - 30px);
                top: 0px;
                left: 0px;
                font-size: 12px;
                color: $szeero !important;
                padding: 0 13px !important;
                margin-bottom: -5px;
                overflow: hidden;

                &.default {
                    color: $szeero !important;
                    opacity: .6;
                }

                &.graytext {
                    color: $szeero !important;
                }
            }

            .search {
                font-size: 12px;
                color: $black;
                padding: 0 13px !important;
            }
        }

        .with_searchbox {
            max-height: inherit;

            .selectsearch_wrap {
                padding: 10px 15px;

                .search_area {
                    .input {
                        background: url("../../images/common-images/icon_search.svg")no-repeat left 10px center $white;
                        background-size: 14px;
                        height: 35px;
                        padding: 10px 10px 10px 30px !important;
                        font-size: 12px;
                        line-height: 26px;
                        color: $szeero;
                        border: 1px solid rgba(112, 112, 112, 0.2) !important;
                        border-radius: 5px !important;
                    }
                }
            }

            .select_scrollarea {
                max-height: 180px;
                overflow: auto;

                .sg_heading {
                    width: 100%;
                    display: block;
                    font-size: 12px;
                    line-height: 20px;
                    color: $primary;
                    font-weight: 600;
                    padding: 5px 15px;
                    white-space: initial;
                }
            }

            .create_new {
                background: none;
                padding: 15px 10px;
                font-size: 12px;
                line-height: 16px;
                color: $szeero;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                border-top: 1px solid rgba(112, 112, 112, 0.2);

                button {
                    background: none;
                }

                strong {
                    font-size: 14px;
                    line-height: 16px;
                    font-weight: 600;
                    color: $black;
                }

                .customize_btn {
                    background: none;
                    font-size: 14px;
                    line-height: 16px;
                    font-weight: 400;
                    color: $primary;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }
        }

        .menu {
            .smenu_heading {
                font-size: 12px;
                line-height: 22px;
                font-weight: 500;
                color: $black;
                display: flex;
                align-items: center;
                gap: 7px;
                padding: 5px 15px;

                img {
                    max-width: 15px;
                }
            }

            .item {
                font-size: 13px;
                color: $szeero !important;
                white-space: initial;

                &.selected {
                    background: url("../../images/common-images/icon_item_tick.svg") no-repeat right 10px center !important;
                    background-size: 12px auto !important;
                    background-color: rgba(94, 171, 222, 0.2) !important;
                    color: $primary !important;
                    padding-right: 25px !important;
                }

                strong {
                    font-weight: 700;
                }

                &:nth-child(2n) {
                    background: #F6F9F9;
                }
            }
        }

        &.multiple {
            white-space: wrap !important;
            height: auto;
            min-height: 35px !important;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            input.search {
                margin: 0 !important;
            }

            .text {
                margin: 0 !important;
                line-height: 35px;
            }

            a.label {
                background: #FDF4FF;
                position: inherit;
                left: inherit;
                top: inherit;
                font-size: 10px !important;
                line-height: 16px !important;
                color: $primary !important;
                float: left;
                margin: 8px 0px 0px 8px;
                padding: 5px 10px !important;
                text-decoration: none;

                .icon {
                    display: inline-block;
                    line-height: 10px;
                    color: $primary;
                    opacity: .8;
                }

                ~ {
                    .text {
                        display: none;
                    }

                    .search {
                        height: 25px;
                        margin-top: 10px !important;
                    }
                }
            }

            .menu {
                .item {
                    &.selected {
                        background: none !important;
                        color: $szeero !important;
                    }

                    &:before {
                        content: '';
                        width: 14px;
                        min-width: 14px;
                        height: 14px;
                        border: 1px solid rgba(112, 112, 112, 0.2);
                        border-radius: 2px;
                        position: relative;
                        margin-right: 6px;
                    }
                }
            }
        }

        &.content_twoline {
            > {
                .text {
                    .click_hide {
                        display: none;
                    }
                }
            }

            .menu {
                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    font-weight: 700;

                    span {
                        color: #535353;
                        font-weight: 400;
                    }
                }
            }

        }
    }

    &.error {
        border-color: $red;

        .label {
            color: $red;
        }
    }

    &.label_inside {
        padding: 5px 0;

        .label {
            background: none;
            font-size: 10px;
            line-height: 16px;
            color: $secondary;
            font-weight: 400;
            padding: 0px 10px;
            position: inherit;
            left: inherit;
            top: inherit;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .input {
            height: 20px !important;
            line-height: 20px !important;
            font-size: 12px;
            line-height: 22px;
            padding: 0 10px;
            color: $black;
        }

        .textarea {
            font-size: 12px;
            line-height: 22px;
            padding: 0 10px;
        }

        .ui.search.dropdown {
            background-size: 11px auto !important;
            height: 20px;
            line-height: 20px;
            min-height: 20px !important;

            input.search {
                padding: 0 10px !important;
                color: $black !important;
            }

            .text {
                height: 20px;
                line-height: 20px;
                color: $black !important;
                padding: 0 10px !important;
                top: 0px;
                left: 0;
            }

            .menu {
                .item {
                    font-size: 12px !important;
                    padding: 5px 10px !important;
                }

                .selectsearch_wrap {
                    padding: 10px;

                    .search_area {
                        .input {
                            height: 35px !important;
                            line-height: 35px !important;
                        }
                    }
                }
            }
        }

        &.error {
            .label {
                color: $red;
            }
        }
    }

    &.bggray {
        background: $fseven;

        .input,
        .textarea,
        .ui.search.dropdown {
            background: none;
        }
    }
}