$primary: #6BBF9E;
$secondary: #1C3495;
$black: #000000;
$blacklight: #191919;
$white: #ffffff;
$gray: #3E3E3E;
$fzero: #f0f0f0;
$fseven: #f7f7f7;
$szeero: #707070;
$red: #B3212C;
$green: #4EB96F;
$blue: #559FCC;
$lightpink: #FDE6B0;
$Roboto: "Roboto", sans-serif;
$Poppins: 'Poppins', sans-serif;
$Quicksand: "Quicksand", sans-serif;
$Outfit: "Outfit", sans-serif;