@import "../variables";

body {
	background: #ffffff;
	overflow-x: hidden;
}



/* page_wrap */
.page_wrap {
	width: 100%;
	overflow: hidden;
	z-index: 0;

	/* common_fullrow */
	.common_fullrow {
		.custom_container {
			padding: 30px 15px;
			display: flex;
			justify-content: space-between;

			@media (max-width:767px) {
				flex-direction: column !important;
				gap: 20px;
				padding: 20px 15px;
			}

			> {
				div {
					width: 48%;

					&.full {
						width: 100%;
					}

					@media (max-width:767px) {
						width: 100%;
					}
				}
			}

			&.reverse {
				flex-direction: row-reverse;
			}
		}
	}

	/* common_textbox */
	.common_textbox {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-bottom: 15px;

		p {
			font-size: 14px;
			line-height: 23px;
			color: $blacklight;
			font-family: $Outfit;
			font-weight: 300;
			letter-spacing: 0.28px;
			text-align: justify;
			margin-bottom: 20px;

			strong {
				font-weight: 700;
			}
		}

		h4 {
			font-size: 16px;
			line-height: 23px;
			letter-spacing: 0.32px;
			color: $black;
		}

		ul {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 10px 0 20px;

			@media (max-width:767px) {
				gap: 10px;
				padding: 10px 0 15px;
			}

			li {
				background-size: 16px 16px;
				font-size: 14px;
				line-height: 23px;
				letter-spacing: 0.28px;
				font-family: $Outfit;
				font-weight: 500;
				color: $blacklight;
				padding-left: 25px;
				position: relative;

				@media (max-width:991px) {
					font-size: 14px;
					line-height: 22px;
				}

				strong {
					font-weight: 600;
				}

				p {
					font-size: 14px;
					line-height: 23px;
					letter-spacing: 0.28px;
					font-family: $Outfit;
					font-weight: 500;
					color: $blacklight;
					text-align: left;
					margin: 0;
				}
			}

			&.with_bullet {
				li {
					&:before {
						content: '';
						background: url("../../images/common-images/icon_bullet_points.svg")no-repeat left top;
						background-size: 100% 100%;
						width: 12px;
						height: 10px;
						position: absolute;
						left: 0;
						top: 7px;
					}
				}
			}

			&.with_icon {
				li {
					display: flex;
					gap: 10px;
					padding-left: 0;

					&:before {
						display: none;
					}

					.icon {
						width: 15px;
						min-width: 15px;
						line-height: initial;

						img,
						svg {
							height: auto;
							line-height: initial;
						}
					}
				}
			}
		}
	}

	/* btnrow */
	.btnrow {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 15px 20px;
		padding-top: 15px;

		@media (max-width:991px) {
			gap: 15px;
		}

		&.center {
			justify-content: center;
		}
	}

	.top_textbox {
		p {
			font-size: 14px;
			line-height: 23px;
			font-weight: 300;
			color: $blacklight;
			text-align: left;
		}
	}

	/* common css End */

	/* top_banner */
	.top_banner {
		width: 100%;
		background-image: url("../../images/contact-us/bg_top_banner.png");
		width: 100%;
		min-height: 373px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
		display: block;
		padding: 60px 0;
		text-align: center;
		display: flex;
		align-items: center;
		overflow: hidden;
		position: relative;

		@media (max-width:991px) {
			min-height: 300px;
		}

		@media (max-width:767px) {
			min-height: 200px;
			padding: 35px 0;
		}

		.patch1 {
			left: 50%;
			bottom: 40px;
			margin-left: -610px;

			@media (max-width:1299px) {
				margin: 0;
				left: 15px;
			}

			@media (max-width:767px) {
				bottom: 15px;
			}
		}

		.patch2 {
			left: 50%;
			top: 40px;
			margin-left: 520px;

			@media (max-width:1299px) {
				margin: 0;
				left: inherit;
				right: 15px;
			}

			@media (max-width:767px) {
				top: 15px;
			}
		}

		.textbox {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: 20px 0;

			@media (max-width:767px) {
				width: 100%;
				align-items: center;
				padding: 0;
			}

			.c_heading {
				margin-bottom: 5px;
			}

			.sub_heading {
				width: 100%;
				font-weight: 500;
				margin-bottom: 20px;
				text-align: center;

				@media (max-width:991px) {
					margin-bottom: 15px;
				}

				@media (max-width:767px) {
					text-align: center;
				}
			}

			p {
				font-size: 14px;
				line-height: 26px;
				letter-spacing: 0.28px;
				color: $white;
				font-weight: 300;
				text-align: center;
				margin-bottom: 20px;

				@media (max-width:991px) {
					font-size: 12px;
					line-height: 20px;
					margin-bottom: 15px;
				}

				@media (max-width:767px) {
					text-align: center;
				}
			}

			.btnrow {
				@media (max-width:767px) {
					justify-content: center;
				}

				.cta_btn {
					&.bgpink {
						&:hover {
							background-color: $primary;
							border-color: $primary;
						}
					}
				}
			}
		}
	}

	/* contact_info */
	.contact_info {
		background: url("../../images/common_circle_pattern.png")no-repeat center top 140px;
		background-size: 100% auto;

		@media (max-width:991px) {
			background-position: center top 100px;
		}

		@media (max-width:767px) {
			background-position: center top 70px;
		}
	}

	/* section1 */
	.section1 {
		padding: 70px 0 50px;

		@media (max-width:991px) {
			padding: 50px 0;
		}

		@media (max-width:767px) {
			padding: 30px 0;
		}

		.boxwrap {
			width: 100%;
			position: relative;

			.common_patch {
				&.patch1 {
					left: -50px;
					top: 240px;

					@media (max-width:1349px) {
						left: -10px;
					}
				}

				&.patch2 {
					right: -50px;
					bottom: 80px;

					@media (max-width:1349px) {
						right: -10px;
					}
				}
			}

			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				gap: 35px;
				position: relative;
				z-index: 2;

				@media (max-width:1199px) {
					gap: 25px;
				}

				@media (max-width:991px) {
					gap: 20px;
				}

				@media (max-width:767px) {
					flex-direction: column;
					align-items: center;
				}

				li {
					width: calc(33% - 24px);
					background-color: $white;
					padding: 25px;
					box-shadow: 0px 0px 16px #B3212C0F;
					border-radius: 15px;

					@media (max-width:1199px) {
						padding: 15px;
					}

					@media (max-width:767px) {
						width: 100%;
					}

					a {
						display: inline-block;
					}

					.imgbox {
						width: 100%;
						border-radius: 8px;
						overflow: hidden;

						img {
							transform: scale(1);
							transition: all ease-in-out 0.4s;
						}
					}

					.textbox {
						width: 100%;
						padding: 20px 5px 10px;

						@media (max-width:1199px) {
							padding: 15px 5px;
						}

						@media (max-width:767px) {
							padding: 10px 0px 0;
						}

						h3 {
							font-size: 21px;
							line-height: 28px;
							letter-spacing: -0.21px;
							color: $secondary;
							font-weight: 600;
							margin-bottom: 15px;

							@media (max-width:991px) {
								font-size: 16px;
								line-height: 22px;
								margin-bottom: 10px;
							}

							br {
								@media (max-width:991px) {
									display: none;
								}
							}
						}

						p {
							font-size: 13px;
							line-height: 20px;
							font-weight: 500;
							color: $blacklight;
						}

						.listtype {
							display: flex;
							flex-direction: column;
							gap: 10px;

							a {
								font-size: 13px;
								line-height: 20px;
								font-weight: 500;
								color: $blacklight;
								display: flex;
								gap: 10px;

								.icon {
									width: 20px;
									min-width: 20px;
									line-height: initial;

									svg {
										path {
											fill: #6bbf9e;
										}
									}
								}

								&[href] {
									transition: all ease-in-out 0.4;

									&:hover {
										color: $secondary;
									}
								}
							}
						}
					}

					&:hover {
						box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
						transform: translateY(-10px);
						transition: all ease-in-out 0.4s;

						@media (max-width:991px) {
							transform: none;
						}

						.imgbox {
							img {
								transform: scale(1.2);
							}
						}
					}
				}
			}
		}
	}

	/* section2 */
	.section2 {
		padding-bottom: 80px;

		@media (max-width:991px) {
			padding-bottom: 50px;
		}

		@media (max-width:767px) {
			padding-bottom: 30px;
		}

		.maparea {
			width: 100%;

			iframe {
				width: 100%;
				height: 540px;
				border-radius: 10px;

				@media (max-width:991px) {
					height: 400px;
				}

				@media (max-width:767px) {
					height: 300px;
				}
			}
		}
	}


}


body {
	// padding: 0 !important;

}

.headerz,
.top_bannerz {
	// display: none !important;
}