@import "../variables";

body {
	background: #ffffff;
	overflow-x: hidden;
}



/* page_wrap */
.page_wrap {
	width: 100%;
	overflow: hidden;
	z-index: 0;

	/* common_fullrow */
	.common_fullrow {
		.custom_container {
			padding: 30px 15px;
			display: flex;
			justify-content: space-between;

			@media (max-width:767px) {
				flex-direction: column !important;
				gap: 20px;
				padding: 20px 15px;
			}

			> {
				div {
					width: 48%;

					&.full {
						width: 100%;
					}

					@media (max-width:767px) {
						width: 100%;
					}
				}
			}

			&.reverse {
				flex-direction: row-reverse;
			}
		}
	}

	/* common_textbox */
	.common_textbox {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-bottom: 15px;

		p {
			font-size: 14px;
			line-height: 23px;
			color: $blacklight;
			font-family: $Outfit;
			font-weight: 300;
			letter-spacing: 0.28px;
			text-align: justify;
			margin-bottom: 20px;

			strong {
				font-weight: 700;
			}
		}

		h4 {
			font-size: 16px;
			line-height: 23px;
			letter-spacing: 0.32px;
			color: $black;
		}

		ul {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 10px 0 20px;

			@media (max-width:767px) {
				gap: 10px;
				padding: 10px 0 15px;
			}

			li {
				background-size: 16px 16px;
				font-size: 14px;
				line-height: 23px;
				letter-spacing: 0.28px;
				font-family: $Outfit;
				font-weight: 500;
				color: $blacklight;
				padding-left: 25px;
				position: relative;

				@media (max-width:991px) {
					font-size: 14px;
					line-height: 22px;
				}

				strong {
					font-weight: 600;
				}

				p {
					font-size: 14px;
					line-height: 23px;
					letter-spacing: 0.28px;
					font-family: $Outfit;
					font-weight: 500;
					color: $blacklight;
					text-align: left;
					margin: 0;
				}
			}

			&.with_bullet {
				li {
					&:before {
						content: '';
						background: url("../../images/common-images/icon_bullet_points.svg")no-repeat left top;
						background-size: 100% 100%;
						width: 12px;
						height: 10px;
						position: absolute;
						left: 0;
						top: 7px;
					}
				}
			}

			&.with_icon {
				li {
					display: flex;
					gap: 10px;
					padding-left: 0;

					&:before {
						display: none;
					}

					.icon {
						width: 15px;
						min-width: 15px;
						line-height: initial;

						img,
						svg {
							height: auto;
							line-height: initial;
						}
					}
				}
			}
		}
	}

	/* btnrow */
	.btnrow {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 15px 20px;
		padding-top: 15px;

		@media (max-width:991px) {
			gap: 15px;
		}

		&.center {
			justify-content: center;
		}
	}

	.top_textbox {
		p {
			font-size: 14px;
			line-height: 23px;
			font-weight: 300;
			color: $blacklight;
			text-align: left;
		}
	}

	/* owl-carousel */
	.owl-carousel {

		.owl-stage,
		.owl-item {
			display: flex;
		}

		.owl-nav {
			> {
				div {
					width: 24px;
					height: 24px;
					border-radius: 50px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					border-radius: 50px;

					&.disabled {
						display: none;
					}

					&.owl-prev {
						background: url("../../images/common-images/icon_carousel_prev2.svg")no-repeat center center;
						background-size: 100% 100%;
						left: 0px;

						@media (max-width:1329px) {
							left: 0;
						}
					}

					&.owl-next {
						background: url("../../images/common-images/icon_carousel_next2.svg")no-repeat center center;
						background-size: 100% 100%;
						right: 0px;

						@media (max-width:1329px) {
							right: 0;
						}
					}

					&:hover {
						opacity: .8;
					}
				}
			}
		}

		.owl-dots {
			width: 100%;
			display: flex;
			justify-content: center;
			gap: 7px;
			position: absolute;
			left: 0;
			bottom: 10px;

			.owl-dot {
				background-color: $white;
				width: 15px;
				height: 15px;
				border-radius: 25px;
				box-shadow: rgba(0, 0, 0, .5)0px 0px 5px;

				&.active {
					background-color: $secondary;
				}
			}
		}
	}


	/* common css End */

	/* top_banner */
	.top_banner {
		width: 100%;
		background-image: url("../../images/blogs/bg_top_banner.png");
		width: 100%;
		min-height: 483px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
		display: block;
		padding: 60px 0;
		text-align: center;
		display: flex;
		align-items: center;
		overflow: hidden;
		position: relative;

		@media (max-width:1199px) {
			min-height: 400px;
		}

		@media (max-width:767px) {
			min-height: auto;
			padding: 35px 0;
		}

		.patch1 {
			left: 50%;
			bottom: 40px;
			margin-left: -610px;

			@media (max-width:1299px) {
				margin: 0;
				left: 15px;
			}

			@media (max-width:767px) {
				bottom: 15px;
			}
		}

		.patch2 {
			left: 50%;
			top: 40px;
			margin-left: 520px;

			@media (max-width:1299px) {
				margin: 0;
				left: inherit;
				right: 15px;
			}

			@media (max-width:767px) {
				top: 15px;
			}
		}

		.textbox {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: 20px 0;

			@media (max-width:991px) {}

			@media (max-width:767px) {
				width: 100%;
				align-items: center;
				padding: 0;
			}

			.c_heading {
				margin-bottom: 20px;

				@media (max-width:991px) {
					margin-bottom: 15px;
				}

				@media (max-width:767px) {
					text-align: center;
				}
			}

			.sub_heading {
				width: 100%;
				font-weight: 500;
				margin-bottom: 20px;
				text-align: center;

				@media (max-width:991px) {
					margin-bottom: 15px;
				}

				@media (max-width:767px) {
					text-align: center;
				}

				br {
					@media (max-width:767px) {
						display: none;
					}
				}
			}

			p {
				font-size: 14px;
				line-height: 26px;
				letter-spacing: 0.28px;
				color: $white;
				font-weight: 300;
				text-align: center;
				margin-bottom: 20px;

				@media (max-width:991px) {
					font-size: 12px;
					line-height: 20px;
					margin-bottom: 15px;
				}

				@media (max-width:767px) {
					text-align: center;
				}

				br {
					@media (max-width:767px) {
						display: none;
					}
				}
			}

			.btnrow {
				@media (max-width:767px) {
					justify-content: center;
				}

				.cta_btn {
					&.bgpink {
						&:hover {
							background-color: $primary;
							border-color: $primary;
						}
					}
				}
			}
		}
	}

	/* blogs_wrap */
	.blogs_wrap {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 30px;

		.blog {
			background-color: $white;
			width: calc(33.3% - 20px);
			padding: 20px 20px 10px;
			box-shadow: 0px 0px 20px #0000000A;
			border-radius: 15px;
			position: relative;
			transition: all ease-in-out 0.4s;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@media (max-width:991px) {
				width: calc(50% - 20px);
			}

			@media (max-width:767px) {
				width: 100%;
			}

			.imgbox {
				width: 100%;
				display: block;
				border-radius: 10px;
				overflow: hidden;

				img {
					transform: scale(1);
					transition: all ease-in-out 0.4s;
				}
			}

			.textbox {
				width: 100%;
				padding: 15px 10px 0;

				h3 {
					font-size: 14px;
					line-height: 19px;
					letter-spacing: 0.14px;
					font-weight: 500;
					color: $secondary;
					margin-bottom: 10px;
				}

				ul {
					display: flex;
					flex-wrap: wrap;
					gap: 10px;
					margin-bottom: 15px;

					li {
						background-color: rgba(107, 191, 158, 0.2);
						font-size: 11px;
						line-height: 17px;
						font-weight: 400;
						color: $primary;
						letter-spacing: 0.22px;
						padding: 2px 10px;
						border-radius: 4px;
					}
				}

				p {
					font-size: 12px;
					line-height: 16px;
					letter-spacing: 0.24px;
					font-weight: 300;
					color: $blacklight;
				}
			}

			.btmrow {
				width: 100%;
				padding: 20px 10px;
				position: relative;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
				gap: 15px 0;

				@media (max-width:991px) {
					padding-bottom: 0;
				}

				&:before {
					content: '';
					border-top: 1px solid #EAEAEA;
					position: absolute;
					left: 10px;
					right: 10px;
					top: 0;
				}

				> {
					div {
						width: 48%;
						font-size: 12px;
						line-height: 16px;
						letter-spacing: 0.24px;
						font-weight: 300;
						color: $primary;
						display: flex;
						align-items: flex-start;
						gap: 5px;

						img,
						svg {
							width: 100%;
							max-width: 13px;
							display: inline-block;
							margin-top: 2px;
						}
					}
				}

				.blogtime {
					color: $szeero;
					text-align: right;
					justify-content: flex-end;
				}
			}

			.btnrow {
				background: transparent linear-gradient(180deg, #FFFFFF00 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
				width: 100% !important;
				height: 107px;
				position: absolute;
				left: 0;
				bottom: 0;
				display: flex;
				justify-content: flex-end;
				align-content: flex-end;
				padding: 15px 10px;
				opacity: 0;
				visibility: hidden;

				@media (max-width:991px) {
					background: none;
					justify-content: center;
					height: auto;
					position: inherit;
					left: inherit;
					bottom: inherit;
					opacity: 1;
					visibility: visible;
				}
			}

			&:hover {
				box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
				transform: translateY(-10px);

				@media (max-width:991px) {
					transform: none;
				}

				.imgbox {
					img {
						transform: scale(1.2);
					}
				}

				.btnrow {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	/* articale_wrap */
	.articale_wrap {
		padding: 50px 0;

		@media (max-width:991px) {
			padding: 35px 0 40px;
		}

		@media (max-width:767px) {
			padding: 20px 0 30px;
		}

		.custom_container {
			position: relative;

			.common_patch {
				&.patch1 {
					right: -30px;
					top: 0;

					@media (max-width:1365px) {
						right: 15px;
					}

					@media (max-width:991px) {
						top: -15px
					}
				}

				&.patch2 {
					left: -30px;
					top: 430px;

					@media (max-width:1365px) {
						left: 15px;
					}

					@media (max-width:991px) {}

					@media (max-width:767px) {}
				}
			}
		}

		.filter_row {
			width: 100%;
			margin: 40px 0 60px;
			position: relative;

			@media (max-width:991px) {
				margin: 35px 0 40px;
			}

			@media (max-width:767px) {
				margin: 25px 0;
			}

			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 20px;

				@media (max-width:1299px) {
					gap: 15px;
				}

				@media (max-width:767px) {
					gap: 10px;
				}

				li {
					background-color: #F2F5FF;
					min-height: 63px;
					font-size: 15px;
					line-height: 22px;
					font-weight: 600;
					color: $secondary;
					border-radius: 50px;
					padding: 10px 30px;
					cursor: pointer;
					border: 2px solid transparent;
					display: flex;
					align-items: center;
					justify-content: center;

					@media (max-width:1299px) {
						font-size: 14px;
						min-height: 55px;
						padding: 7px 20px;
					}

					@media (max-width:1199px) {}

					@media (max-width:991px) {
						min-height: 50px;
					}

					@media (max-width:767px) {
						min-height: 40px;
						font-size: 12px;
						line-height: 18px;
						padding: 5px 15px;
					}

					&:hover {
						background-color: #CAF2E2;
						color: $primary;
					}

					&.active {
						background-color: #CAF2E2;
						border-color: $primary;
						color: $primary;
						box-shadow: 0px 0px 16px #0000001F;
					}
				}
			}

			&.customscroll {
				overflow-y: hidden;
				overflow-x: auto;
				padding-bottom: 8px;

				ul {
					flex-wrap: nowrap;

					li {
						white-space: nowrap;
					}
				}
			}
		}
	}

	/* meetvoice */
	.meetvoice {
		background: url("../../images/common_circle_right.png")no-repeat center right;
		background-size: 342px auto;
		position: relative;
		margin: 100px 0 50px;

		@media (max-width:991px) {
			background-size: 300px auto;
			margin: 40px 0;
		}

		@media (max-width:767px) {
			background: none;
			background-color: #F1F9F6;
			background-size: 200px auto;
			padding-bottom: 20px;
			margin: 0px 0;
		}

		&:before {
			content: '';
			background-color: #F1F9F6;
			width: 50%;
			position: absolute;
			left: 0;
			top: 100px;
			bottom: 100px;

			@media (max-width:767px) {
				display: none;
			}
		}

		.two_column {
			display: flex;
			padding-right: 60px;

			@media (max-width:1199px) {
				padding-right: 30px;
			}

			@media (max-width:991px) {
				padding-right: 0;
			}

			@media (max-width:767px) {
				flex-direction: column;
			}

			.textbox {
				background: url("../../images/common-images/icon_comma.svg")no-repeat right 50px bottom 150px;
				background-size: 66px auto;
				min-height: 300px;
				width: 100%;
				padding: 120px 130px 120px 0;
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;

				@media (max-width:1199px) {
					padding-right: 100px;
					background-position: right 20px bottom 150px;
				}

				@media (max-width:767px) {
					padding: 15px 0px;
				}

				&:before {
					content: '';
					background-color: #F1F9F6;
					position: absolute;
					left: 0;
					right: -50px;
					top: 0px;
					bottom: 0px;
					z-index: -1;
					border-top: 100px solid $white;
					border-bottom: 100px solid $white;

					@media (max-width:767px) {
						display: none;
					}
				}

				.topbox {
					position: absolute;
					left: 0;
					top: -40px;

					@media (max-width:991px) {
						top: -30px;
					}

					@media (max-width:767px) {
						position: inherit;
						left: inherit;
						top: inherit
					}
				}

				h3 {
					font-size: 30px;
					line-height: 40px;
					font-weight: 600;
					color: $secondary;

					@media (max-width:767px) {
						font-size: 20px;
						line-height: 26px;
					}
				}

				.deg {
					font-size: 18px;
					line-height: 24px;
					font-weight: 500;
					color: $secondary;
					display: block;
					margin-bottom: 15px;

					@media (max-width:767px) {
						font-size: 16px;
						line-height: 24px;
						margin-bottom: 10px;
					}
				}

				p {
					font-size: 14px;
					line-height: 23px;
					letter-spacing: 0.28px;
					font-weight: 300;
					color: $blacklight;
				}

				.btnrow {
					position: absolute;
					left: 0;
					bottom: 25px;

					@media (max-width:767px) {
						position: inherit;
						left: inherit;
						bottom: inherit
					}
				}
			}

			.imgbox {
				width: 428px;
				min-width: 428px;
				display: flex;
				align-items: center;

				@media (max-width:991px) {
					width: 300px;
					min-width: 300px;
				}

				@media (max-width:767px) {
					width: 100%;
					min-width: 100%;
				}
			}
		}
	}

	/* latest_articles */
	.latest_articles {
		padding: 50px 0 80px;

		@media (max-width:991px) {
			padding: 10px 0 50px;
		}

		@media (max-width:767px) {
			padding: 25px 0 35px;
		}

		.topbox {
			margin-bottom: 60px;

			@media (max-width:991px) {
				margin-bottom: 40px;
			}

			@media (max-width:767px) {}
		}
	}

	/* last_bluebox */
	.last_bluebox {
		background: url("../../images/blogs/bg_last_bluebox.png")no-repeat right top;
		width: 100%;
		background-size: cover;
		min-height: 436px;
		padding: 60px 0 40px;
		position: relative;
		display: flex;
		align-items: center;

		@media (max-width: 991px) {
			min-height: 300px;
			padding: 40px 0;
		}

		@media (max-width: 991px) {
			padding: 30px 0;
		}

		.common_patch {
			right: 50px;
			top: 50px;

			@media (max-width:991px) {
				right: 15px;
				top: 20px
			}
		}

		.textbox {
			align-items: center;

			@media (max-width:1199px) {}

			@media (max-width:767px) {
				align-items: center;
				padding: 20px 0 !important;
			}

			.c_heading {
				@media (max-width:767px) {
					text-align: center;
				}

				br {
					@media (max-width:767px) {
						display: none;
					}
				}
			}

			p {
				font-size: 16px;
				line-height: 23px;
				font-weight: 500;
				color: $white;
				text-align: center;

				br {
					@media (max-width:767px) {
						display: none;
					}
				}
			}

			.formarea {
				width: 100%;
				max-width: 600px;
				padding-top: 15px;

				@media (max-width:991px) {
					padding-top: 0;
				}

				@media (max-width:767px) {}

				.row {
					> {
						div {
							margin: 15px 0;

							@media (max-width:767px) {
								margin: 10px 0;
							}
						}
					}
				}

				.input {
					background-color: #FBFBFB;
					border-radius: 50px;
					color: $secondary;
					padding: 10px 20px;
				}

				/* error_msg */
				.error_msg {
					background: rgba(255, 255, 255, 0.6);
					width: 100%;
					display: flex;
					align-items: center;
					gap: 10px;
					padding: 5px 10px;
					border-radius: 0 4px 4px 0;
					border-left: 2px solid $red;
					margin: 5px 0;

					.licon {
						width: 24px;
						min-width: 24px;
					}

					.textbox {
						width: 100%;
						display: flex;
						flex-direction: column;
						align-items: flex-start;

						.ttext {
							font-size: 11px;
							line-height: 14px;
							font-weight: 600;
							color: $red;
						}

						p {
							font-size: 11px;
							line-height: 16px;
							color: $black;
							margin: 0 !important;
							text-align: left;
						}
					}
				}
			}

			.btnrow {
				padding-top: 25px;

				@media (max-width:991px) {
					padding-top: 0;
				}

				.bgpink {
					&:hover {
						background-color: $primary;
						border-color: $primary;
					}
				}
			}
		}
	}


}


body {
	// padding: 0 !important;

}

.headerz,
.top_bannerz,
.articale_wrapz,
.meetvoicez,
.latest_articlesz,
.last_blueboxz {
	// display: none !important;
}